body {
    background: #e9ebee;
    overflow-x: hidden;
}

.container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 116rem;
    
    min-height: 200px;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, .5);
    border-radius: 6px;
    margin: 2rem auto 1rem;
    
}

.account-card,
.account-stats,
.chart
{
    height: 100%;
    width: calc(100% / 3);
    padding: 0 2rem;
}

.account-card,
.account-stats,
.chart.diff
{
    border-right: 3px solid #000;
}

.account-card h2,
.account-stats h2
{
    transform: translateY(-3.5rem);
}

.account-card h2,
.account-stats h2,
.chart h2
{
    font-size: 27px;
    text-align: center;
    font-weight: 500;  
}

.account-card h2.dark,
.account-stats h2.dark,
.chart h2.dark 
{
    color: white;
}

.account-card .detail,
.account-stats .detail,
.chart .detail
{
    margin: 1rem 0;
    font-size: 24px;
    color: rgb(1, 87, 155);
}

.account-card .detail.dark,
.account-stats .detail.dark,
.chart .detail.dark
{
    color: rgb(111,193,254);
}

.account-card .detail .key,
.account-stats .detail .key,
.chart .detail .key
{
    font-family: "Open Sans";
    color:rgb(77, 144, 226);
    padding-left: .3rem;
    font-size: 23px;
    
}

.account-card .detail.dark .key,
.account-stats .detail.dark .key,
.chart .detail.dark .key
{
    color: rgb(87,162,228);
}

.chart .detail
{
    justify-self: flex-end;
    display: flex;
}


.chart .detail .new_score
{
    color: rgb(86, 209, 86);
    font-size: 22px;
    transform: translateY(-.5rem) translateX(.25rem);
}

.chart 
{
    
    display: grid;
    justify-content: center;
    align-items: center;
}

.canvases 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart canvas 
{
    width: 100%;
     
    max-width: 100%;
    height: 100%;
    max-height: 250px;
    transform: translateX(5rem);
}

.chart .detail 
{

}

.position 
{
    width: 100%;
    max-width: 550px;
    height: 75px;
    margin: 2rem auto;
    background: rgb(0,112,255);
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position a
{
    color: white;
}

.graphics_title
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.graphics_title h2 
{
    font-weight: 500;
    color: rgb(29, 30, 65);
    font-family: "Open Sans";
}

.graphics_title.dark h2 
{
    color: white;
}

.graphics_title .percent
{
    font-size: 20px;
    font-weight: bold;
}

.graphics_title .percent.progress
{
    color: rgb(86, 209, 86);
    
    
}

.graphics_title .percent.stagnate
{
    color: rgb(237,121,12);
}

.graphics_title .percent.regress 
{
    color: rgb(214, 30, 67);
}


.graphics_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    margin: 0 auto;
    
}

.graphics_container canvas
{
    width: 100%;
    max-width: calc(100% / 3);
    height: 100%;
    max-height: 350px;
    margin: 0 1rem;
    
}
