@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

*,
*::before,
*::after
{
    box-sizing: border-box;
}

body
{
    
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
    max-height: 100%;  
    overflow-x: hidden;
}

body.dark 
{
    background: rgb(12,13,14);
}

a
{
    text-decoration: none;
    color: initial;
}

li
{
    list-style-type: none;
}

/* Header */

header
{
    width: 100%;
    height: 70px;
    background:#0082e6;
    box-shadow: 15px 10px 30px #0082e6;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

header nav 
{
 
    transform: translateY(0px);
}

header nav li.dark_mode,
header nav li.img
{
    float: right;
    transform: translateY(30px);
    margin-right: 20px;
}

header nav .img img 
{
    transform: translateY(4px);
}

header nav .dark_mode i 
{
    color: #fff;
    font-size: 24px;
    transform: translateY(1.5px);

}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

  
nav ul {
    float: right;
    margin-right: 20px;
   
}

nav li 
{
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    line-height: 55px;
    margin: 0 5px;
    
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: 500;
    
}

  
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px) {
 
    nav ul li a{
      font-size: 16px;
    }
}

@media (max-width: 858px) {

    .checkbtn {
      display: block;
    }

    ul {
      position: absolute;
      z-index: 100;
      width: 100%;
      height: auto;
      background: rgb(52,72,97);
      top: 60px;
      left: -100%;
      text-align: center;
      height: 100vh;
      transition: all .5s;
      
    }

    nav ul li {
      display: block;
      margin: 35px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 24px;
      font-weight: 500;
    }
    a:hover,a.active {
      background: none;
      
    }
    #check:checked ~ ul {
      left: 0;
      
    }

  }


.difficulties {
    align-self: flex-start;
    justify-self: flex-start;
    position: relative;
    top: -50px;
    left: 60px;
    
}

.difficulties h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}

.easy 
{
    color: green;
}

.medium 
{
    color: #ed790c;
    
}

.hard 
{
    color: crimson;
}


.game-mode 
{
    display: none;
}

.end-game 
{
    position: absolute;
    background: rgba(0, 0, 0, .85);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: center;

    display: none;
    opacity: 0;
    font-size: 20px;
    font-family: 'Open Sans';
    transition: all 350ms ease-in-out;
    
}

.end-game.login 
{
    top: 70px;
}

.end-game.active 
{
    z-index: 100;
    display: flex;
    opacity: 1;
}

.end-game .game-result-card
{
    width: 400px;
    min-height: 400px;
    background: white;
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-game.login .game-result-card
{
    min-height: 250px;
}

.end-game.win .game-result-card
{
    box-shadow: 0px 0px 75px rgb(77, 144, 226);
}

.end-game.lose .game-result-card
{
    box-shadow: 0px 0px 75px coral;
}

.game-result-card:not(.competitive) > * 
{
    max-height: 25px;
    
}

.game-result-card .result 
{
    margin-top: 3rem;
    font-size: 30px;
}


.end-game.win .game-result-card .result
{
    color: rgb(48, 173, 35);
}

.end-game.lose .game-result-card .result
{
    color: coral;
}

.end-game.competitive .game-result-card
{
    justify-content: center;
    text-align: center;
}

.end-game:not(.competitive) .game-result-card p
{
    font-weight: 700;

}

.end-game:not(.competitive) .game-result-card p span.game-result
{
    color:rgb(0, 114, 227);
}

.end-game:not(.competitive) .game-result-card p i 
{
    font-size: 24px;
    margin-right: 3px;
}
 

.end-game:not(.competitive) .game-result-card button,
.end-game .game-result-card .check_score .new-game-btn
{
    outline: none;
    border: 2px solid rgb(0, 114, 227);
    color: rgb(0, 114, 227);
    border-radius: 8px;
    width: 300px;
    height: 125px;
    padding: 35px;
    margin: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 350ms ease-in-out;
}


.end-game:not(.competitive) .game-result-card button i {
    transform: rotateY(180deg);
    margin: 8px 0 0 10px;
    
}

.login_required_message
{
   font-size: 18px;
   font-weight: 600;
   color: crimson;
   font-family: 'Open Sans', sans-serif;
   margin: 0 5px 15px;
}

.game
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: calc(100vh - 70px);
    position: relative;
    
    -webkit-user-drag: none;
    
}

.success
{
    font-size: 26px;
    text-align: center;
    color: green;
    font-family: 'Lato', sans-serif;
    transition: all 500ms ease-in-out;
    transform: translateY(-50px);
}

.success.hide 
{
    opacity: 0;
    display: none;
    
}

.fail 
{
    font-size: 26px;
    text-align: center;
    color: crimson;
    font-family: 'Lato';
    transition: all 500ms ease-in-out;
}

.fail.reverse 
{
    margin-top: -6rem;
}

.game.inactive 
{
    z-index: -1;
}


.login_system 
{
    position: absolute;
    background: rgba(0, 0, 0, .85);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
    
    transition: all 350ms ease-in-out;
}

.login_system.active 
{
    z-index: 100;
    display: block;
    opacity: 1;
}



.game-grid
{
    display: flex; 
    width: 100%;
    
    height: 100%;
    
    justify-content: center;
   
    align-items: center;
    position: relative;
    z-index: 0;
    
}

.game-overlay
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-1.3rem);
    position: relative;
    
}


/* Game modes */

.game_modes
{  
   align-self: flex-start;
   width: 250px;
   height: 550px;
   margin: 0 3rem;
   
}




.mode_title 
{
    text-align: center;
    color:rgb(77, 144, 226); 
}


.mode,
.difficulty
{
   
    margin: 1.5rem 0 3rem;
    width: 100%;
    height: 65px;
    border: 3px solid rgb(52, 72, 97);
    box-shadow: 0 4px 0 rgb(46, 58, 73);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    font-size: 24px;
    
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 350ms ease-in-out;
}

.difficulty 
{
    display: none;
}

.mode.active,
.difficulty.active
{
    background: rgb(52, 72, 97);
    border: 3px solid rgb(52, 72, 97);
    box-shadow: 0 4px 0 rgb(52, 72, 97);
    color: #fff;
}

.mode.active a 
{
    color: #fff;
}


/* New game */

.new-game
{
    transform: translateY(-1rem);
    width: 300px;
    height: 75px;
    border-radius: 8px;
    border: 2px solid rgb(52, 72, 97);
    box-shadow: 0 6px 0 rgb(52, 72, 97);
    border-width: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.board_corners
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(4rem);
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.new-game.mobile 
{
    margin: 0 1.5rem 0 0;
    border: none;
    box-shadow: none;

    justify-content: flex-end;
    transform: translateY(0);
}

.new-game.mobile h1 
{
    font-size: 1.5rem;
}


.timer.mobile 
{
    margin: 0 0 0 1rem;
    justify-self: flex-start;
}

.timer.mobile h2 
{
    font-size: 1.5rem;
}

.timer.mobile .pause-time 
{
    font-size: 1.75rem;
    transform: translateX(-.35rem);
}

.new-game h1
{
    color: rgb(77, 144, 226);
}

.new-game-selector 
{
    position: absolute;
    margin: 0;
    padding: 0;
    padding-bottom: 1.5rem;
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 18px rgb(26, 95, 163);
    margin-top: 50%;
    z-index: 300;
    background: white;
    transform: scaleY(0);
    
    transform-origin: top;
    transition: all 350ms ease-in-out;

}

.new-game-selector.desktop 
{
    max-width: 310px;
    
}

.new-game-selector.mobile 
{
    width: 100%;
    max-width: 600px;
    height: auto;
    transform: translateY(50px);
    display: none;
}

.new-game-selector h1
{
    font-size: 24px;
    text-align: center;
    color:rgb(10, 86, 161);
    font-family: 'Lato';
}

.new-game-selector .mode_selector > div 
{
    
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}

.show_selector 
{
    transform: scaleY(1);
    
}

.new-game-selector.mobile.show_selector 
{
    display: block;
    
}


.new-game-selector .restart 
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 225px;
    margin: 2rem auto 0;
}

.new-game-selector .restart button 
{
    border: none;
    outline: none;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 20px rgb(0, 114, 227);
    color:rgb(0, 114, 227);
    font-size: 21px;
    font-family: 'Open Sans';
    font-weight: 600;
    cursor: pointer;
    
    transition: all 350ms ease-in-out;
}

.new-game-selector .restart button i
{ 
    transform: rotateY(180deg);
    font-size: 16px;
    
}

.new-game-selector .mode_selector div 
{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    margin: 1rem;
    padding-bottom: .5rem;
    color:rgb(36, 122, 228);
}
/* Numbers grid */

.numbers-grid
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    outline: 2px solid rgb(66, 100, 143);
}



.numbers-grid .number
{
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #42648f; 
    
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: all 250ms ease-out;
}



.numbers-grid .number span
{
    font-size: 50px;
    color:rgb(52, 72, 97);
}

/* Game commands */

.game-control
{
    display: grid;
    grid-template-columns: auto auto;
    
    margin-top: 15px;
}

.command
{
    border: 1px solid #42648f; 
    outline: 1px solid #42648f;
    width: 150px;
    height: 75px;

    cursor: pointer;
   
    -webkit-user-select: none;
    user-select: none;
    transition: all 350ms ease;
}


.command.solveContainer,
.command.scoreContainer.competitive
{
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 100%;
}


.command .command-title
{
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(45, 62, 83);
    
    margin-top: 1.5px;
}


.command .solver,
.command .player_score,
.command .hint,
.command .undo,
.command .erase
{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(77, 144, 226);
}

.command .player_score .score
{
    margin-left: 2.5px;
}

/* Letting space for the counter of hints */
.command .hint
{
    position: relative;
    margin-top: 0px;
}

.command i:not(.fa-bolt)
{
    transform: translateY(7.5px);
}

.command .player_score
{
    transform: translateY(5px);
}

.hint-counter
{
    font-size: 15px;
    color: #fff;
    width: 30px;
    background: rgb(52, 72, 97);
    position: absolute;
    top: -5px;
    right: 45px;
    padding: 5px 10px;
    border-radius: 100%;
    transition: all 350ms ease-in-out;
}

.command .player_score i 
{
    font-size: 20px;
    margin-top: 10px;
    transition: all 250ms ease-in-out;
    
}

.board
{
    width: 100%;
    max-width: 600px;
    position: relative;
}

.board, .game-row, .game-cell
{
    border: 1px solid #736b5e;
    border-collapse: collapse;
}

.animation 
{
    animation: cellAnimation 3s linear;
    animation-fill-mode: forwards;
}

.play-button
{
    cursor: pointer;
    pointer-events: all;
    color: rgb(77, 144, 226);
    font-size: 100%;
    opacity: 0;
    display: none;
    transition: all 350ms ease-in-out;
}

.board.paused .game-cell
{
    pointer-events: none;
}

/* Timer */

.timer
{
    margin: 0 auto;
    
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.timer h2 
{
    font-size: 35px;
    color: rgb(52, 72, 97);
}

.timer h2 span.time
{
    color: green;
    margin-left: .5rem;
    transition: all 350ms ease-in-out;
}


.timer .pause-time
{

    font-size: 40px;
    margin: .3rem .7rem 0;
    color: green;
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.timer.secondWave h2 span.time,
.pause-time.secondWave
{
    /* color: rgb(255, 189, 46); */
    color: #ed790c;
}

.timer.finalWave h2 span.time,
.pause-time.finalWave
{
    color: rgb(219, 39, 15);
}   



.game-cell
{
    width: 55px;
    height: 55px;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    position: relative;
    font-weight: 700;
    color: rgb(52, 72, 97);
    
    -webkit-user-select: none;
    user-select: none;
    transition: all 350ms ease-in-out;
}

.question-mark
{
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 14px;
    opacity: 1;
    display: block;
    transition: all 350ms ease-in-out;
    
}


.game-row:first-child .game-cell
{
    border-top: 3px solid #344861;

}

.game-row:first-child .game-cell:first-child
{
    border-left: 3px solid #344861;
}

.game-row:first-child .game-cell:last-child
{
    border-right: 3px solid #344861;
}

.game-row:nth-child(n) .game-cell:first-child
{
    border-left: 3px solid #344861;
}

.game-row:nth-child(n) .game-cell:last-child
{
    border-right: 3px solid #344861;
}

.game-row:last-child .game-cell
{
    border-bottom: 3px solid #344861;
}

.game-row:nth-child(n) .game-cell:nth-child(3n)
{
    border-right: 3px solid #344861;
}

.game-row:nth-child(3n) .game-cell:nth-child(n)
{
    border-bottom: 3px solid #344861;
}

.chosen_cell
{
    background-color: rgb(187, 222, 251);
}

.chosen_row_column_square:not(.chosen_cell)
{
    background-color: rgb(183, 202, 224);
}

/* Classes for checking if the number from the cell is ok */

.passedCell 
{
    color: rgb(77, 144, 226);
}

.correctCell {
    color: rgb(60, 194, 60);
}

.failedCell:not(.correctCell)
{
    color: rgb(250, 79, 81);
}

.failedCellBg:not(.chosen_cell):not(.passedCell):not(.correctCell)
{
    background-color: rgb(247, 207, 214);
}

/* js classes */



.show
{
    opacity: 1;
    display: block;
}

.hide 
{
    opacity: 0;
    display: none;
}

.not-clickable
{
    cursor: no-drop;
}

/* Darkmode classes */

.game-cell.dark,
.timer_text.dark,
.number.dark span
{
    color: rgb(164,186,206);
}

.timer:not(.finalWave):not(.secondWave) h2 span.time.dark,
.timer:not(.finalWave):not(.secondWave) .pause-time.dark,
.game-cell.correctCell.dark 
{
    color: rgb(114,255,114);
}

.timer.secondWave h2 span.time.dark,
.timer.secondWave .pause-time.dark
{
    color: rgb(255, 189, 46);
}


.chosen_cell.dark
{
    background: rgb(44,48,50);
}

.chosen_row_column_square.dark:not(.chosen_cell)
{
    background: rgb(34,55,79);
}

.failedCell.dark:not(.correctCell)
{
    color: rgb(250,82,84);
}

.failedCellBg.dark:not(.chosen_cell):not(.passedCell):not(.correctCell)
{
    background: rgb(73,12,23);
}

.passedCell.dark 
{
    color: rgb(87,162,228);
}

.game-row:first-child .game-cell.dark
{
    border-top: 3px solid rgb(73,102,137);

}

.game-row:first-child .game-cell.dark:first-child
{
    border-left: 3px solid rgb(73,102,137);
}

.game-row:first-child .game-cell.dark:last-child
{
    border-right: 3px solid rgb(73,102,137);
}

.game-row:nth-child(n) .game-cell.dark:first-child
{
    border-left: 3px solid rgb(73,102,137);
}

.game-row:nth-child(n) .game-cell.dark:last-child
{
    border-right: 3px solid rgb(73,102,137);
}

.game-row:last-child .game-cell.dark
{
    border-bottom: 3px solid rgb(73,102,137);
}

.game-row:nth-child(n) .game-cell.dark:nth-child(3n)
{
    border-right: 3px solid rgb(73,102,137);
}

.game-row:nth-child(3n) .game-cell.dark:nth-child(n)
{
    border-bottom: 3px solid rgb(73,102,137);
}

.command-title.dark
{
    color: rgb(172,192,210);
    
}

.mode.dark:not(.active)
{
    color: rgb(232,230,227);
}

.new-game-selector.dark 
{
    background: rgb(15,17,17);
}


/* overlay on smaller screens */



@media only screen and (min-width: 1241px) {


    .board_corners {
        display: none;
    }

    .game_modes:not(.reverse)
    {
        transform: translateX(3rem);
    }

    .game-control 
    {
        max-width: 300px;
        min-width: 300px;
    }

    .play-button
    {
        font-size: 45px;
    }
    
    nav a.active, nav a:hover{
        background: #1b9bff;
        transition: .5s;
    }

    .end-game:not(.competitive) .game-result-card button:hover {
        background: rgb(0, 114, 227);
        color: rgba(255, 255, 255, .9);
    }

    
    .mode:not(.active):hover,
    .difficulty:not(.active):hover
    {
        background: rgb(77, 144, 226);
        border: 3px solid rgb(77, 144, 226);
        box-shadow: 0 4px 0 rgb(77, 144, 226);
        color: #fff;
    } 

    .mode:not(.active):hover a 
    {
        color: #fff;
    }

    
    .new-game:not(.mobile):hover {
        background: rgb(77, 144, 226);
        border: rgb(77, 144, 226);
        box-shadow: 0 6px 0 rgb(77, 144, 226);
    }

    .new-game:not(.mobile):hover h1
    {
        color: #fff;
    }

    
    .new-game-selector .restart button:hover 
    {
        background: rgb(0, 114, 227);
        color: #fff;
    }

    
    .numbers-grid .number:hover
    {
        background: rgb(77, 144, 226);
        
    }
    .numbers-grid .number:hover > span
    {
        color: #fff;
    }

        
    .command:hover .player_score,
    .command:hover .hint,
    .command:hover .undo,
    .command:hover .erase,
    .command:hover .solver,
    .command:hover .command-title
    {
        color: white;
    }

    .command:hover .hint-counter
    {
        color: rgb(52, 72, 97);
        background: #fff;
    }

    .command:hover
    {
        background:rgb(77, 144, 226);
    }

    .command:hover .player_score i 
    {
        transform: rotateZ(5deg);
    }
}

@media only screen and (max-width: 1240px) 
{


    .difficulties 
    {
        align-self: initial;
        justify-self: initial;
        top: 0;
        left: 0;
    }

    .game-grid
    {
        flex-direction: column;
    }

    .game-overlay 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .numbers-grid 
    {
        grid-template-columns: repeat(9, auto);
        width: 100%;
        justify-content: space-between;
        outline: none;
    }

    .numbers-grid .number {
        border: none;
        outline: none;
        margin-top: 50px;
        width: 75px;
        height: 75px;
    }


    .numbers-grid .number span {
       font-size: 30px;
       font-weight: 700;
       display: flex;
       justify-content: center;
       align-items: center;
       color: rgb(0, 114, 227);
    }

    .game-control 
    {
        display: flex;
        
        
        
        justify-content: center;
        align-items: center;
    }

   

    .command 
    {
        border: none;
        outline: none;
    }

    .command.solveContainer {
        width: 150px;
        height: 75px;
        grid-column: 1;
    }

    .game-control.reverse {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
    }

    .desktop 
    {
        display: none;
    }

    .game_modes
    {
        width: 100%;
        height: 100%;
        margin: 1rem auto -1rem;
        
    }

    .modes
    {
        display: grid;
        justify-content: space-around;
        
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 1rem;
        
        
    }

    
}

/* Login request */

.login_request 
{
    font-family: 'Poppins', sans-serif;
    color: grey;
}

.login_request span
{
    color:rgb(1, 87, 155);
    cursor: pointer;
}

/* Responsive header */

@media only screen and (min-width: 1051px)
{
    header nav p.header-bar 
    {
        display: none;
    }
}

@media only screen and (max-width: 1050px)
{
    header nav p.item 
    {
        display: none;
    }
}




@media only screen and (max-width: 650px)
{
    .modes 
    {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 601px)
{
    .board 
    {
        min-height: 600px;
    }
}

@media only screen and (max-width: 600px)
{
    
    .difficulties h1 
    {
        font-size: 1.75rem;
    }

}

@media only screen and (max-width: 500px)
{
    .game-cell
    {
        font-size: 26px;
    }

}

@media only screen and (max-width: 450px)
{
    .game-cell
    {
        font-size: 24px;
    }

    .difficulties h1 
    {
        font-size: 1.5rem;
    }

    .new-game.mobile h1 
    {
        font-size: 1.25rem;
    }

    .timer.mobile h2
    {
        font-size: 1.25rem;
    }

    .timer.mobile .pause-time
    {
        font-size: 1.5rem;
    }

    .board_corners
    {
        transform: translateY(3.5rem);
    }

    
}

@media only screen and (max-width: 400px)
{
    .game-cell
    {
        font-size: 22px;
    }

    .difficulties h1 
    {
        font-size: 1.25rem;
    }

    .new-game.mobile h1 
    {
        font-size: 1rem;
    }

    .timer.mobile h2
    {
        font-size: 1rem;
    }

    .timer.mobile .pause-time
    {
        font-size: 1.25rem;
        transform: translateY(-.05rem) translateX(-.35rem);
    }

    .board_corners
    {
        transform: translateY(2.5rem);
    }
}

@media only screen and (max-width: 350px)
{
    .game-cell
    {
        font-size: 20px;
    }
}

@media only screen and (max-width: 300px)
{
    .game-cell
    {
        font-size: 18px;
    }
}

@keyframes cellAnimation {

    25% {
        color: rgb(52, 72, 97);
    }  

    100% {
        color:rgb(60, 194, 60);
    }
}   